# Configures Auto Scale group to fetch config files from the inquests.ca-config
# S3 bucket.
# 
# Based on AWS docs:
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-storingprivatekeys.html

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["inquests.ca-config"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
