# Pulls static front-end assets (i.e., React build) from S3.

# Note the 'files' key does not seem to support copying directories recursively.
# Instead, we will use an AWS CLI command.
commands:
  01_fetch_static_assets:
    command: aws s3 cp --recursive s3://inquests.ca-frontend/assets /var/www/
