# Removes .bak files created by Elastic Beanstalk upon application deployments.
# These files can cause issues, such as causing Nginx to fail on startup due to
# duplicated config files.

commands:
  02_remove_bak_files:
    command: "rm *.bak"
    cwd: "/etc/nginx/sites-enabled"
    ignoreErrors: true
